@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Labrada:wght@300;400&display=swap');

:root {
  --cor-primaria: #EEEEEE;
  --cor-secundaria: #E96479;
  --cor-terciaria: #FFFFFF;

  --fonte-primaria: 'Labrada', serif;
  --fonte-secundaria: 'DM Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.navegacao {
  background-color: var(--cor-secundaria);
  display: flex;
  gap: 12rem;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
}

.navegacao__link {
  font-family: var(--fonte-secundaria);
  font-size: 20px;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--cor-terciaria);
}

main {
  margin: 0 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apresentacao__home {
  margin: 0 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-top: 5rem;
}

.apresentacao__home__titulo {
  font-family: var(--fonte-primaria);
  font-size: 40px;
  font-weight: 300;
}

.imagem__home {
  width: 40%;
}

.apresentacao__titulo {
  padding: 2.5em 0 0 0;
  text-align: center;
  font-family: var(--fonte-primaria);
  font-size: 24px;
  font-weight: 400;
}

.apresentacao__carta__texto {
  font-family: var(--fonte-primaria);
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding: 1em 3em 0 3em;
}

.imagem__fotos {
  width: 30%;
  align-items: center;
  padding: 1em 0.5rem 3em 0.5rem;
}

.rodape {
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  font-size: 16px;
  padding: 1.5rem;
  text-align: center;
}